.stylethis{
    color: #20E1FF;
    font-size: 25px;
    font-weight: 900;
    text-align: center; 
    font-family: 'Ubuntu';
    font-style: oblique;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
 }


#stylethis2{
    color: red;
    font-size: 30px;
    font-weight: 600;
    text-align: center; 
    text-transform: uppercase;
 }