body{
    margin: 0px;    
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.main{
    height: 60%;
    width: 40%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}
.maintwo{
    height: 60%;
    width: 40%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.sub{
    color: white;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    width: 20%;
    height: 20%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub.one{
    background-color: green;
}
.sub.two{
    background-color: #e0ae24;
}

@media screen and (max-width: 450px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .main{
        width: 60%;
        height: 40%;
    }
    .maintwo{
            width: 60%;
            height: 40%;
    }
}