body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.class{
    height: 40%;
    width: 40%;
    background-color: brown;
    margin: 10px;
}
.class.one{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.class.two{
    background-color: blueviolet;
}
.class .number{
    height: 25%;
    width: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Poppins';
    margin: 10px;
}