html{
    font-family: 'Poppins';
    background-color: white;
    overflow-x: hidden;
}
body{
    width: 100vw;
    margin: 0;
}
header{
    width: 100%;
    background-color: #F5EFE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
}
header .information{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5em;
}
header .information .info{
    display: flex;
    align-items: center;
    margin-right: 2em;
    gap: 1em;
}
header .information .info .text{
    display: flex;
    flex-direction: column;
}
header .information .info .text p{
    margin: 0;
}
header .line{
    margin-right: 2em;
    margin-left: 2em;
    width: 96%;
    height: 2px;
    background-color: #A49D9D;
}
header nav{
    display: flex;
    margin-left: 0.5em;
    width: 30%;
    justify-content: space-around;
}
header nav a{
    text-decoration: none;
    color: #1E1E1E;
    font-weight: 500;
}
main .backgroundimg{
    width: 100%;
    height: 87.5vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/picture.png);
}
#square{
    position: relative;
    top: 110px;
    left: 100px;
}
.backinfo{
    position: absolute;
    top: 230px;
    left: 170px;
}
#toptext{
    color: white;
    font-size: 40px;
}
#middletext{
    color: white;
    font-size: 20px;
    font-weight: 200;
}
.backinfo button{
    background-color: #1A2948;
    font-family: 'Poppins';
    border: 0px;
    color: white;
    font-size: 15px;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 10px;
    cursor: pointer;
}
main .about{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2em;
}

main .about .schoolinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .about .schoolinfo p{
    margin: 0;
    margin-top: 0.5em;
}
main .about .schoolinfo button{
    color: white;
    background-color: #1A2948;
    border: 0px;
    font-family: 'Poppins';
    padding: 0.5em;
    font-size: 20px; 
    border-radius: 10px;
    margin-top: 1em;
    width: 20%;
    cursor: pointer;
}
#black{
    color: black;
    font-size: 2.3em;
}
#gray{
    color: #998989;
    font-size: 1.3em;
}
#kindablue{
    color: #1A2948;
    font-size: 1.8em;
}
main .about .img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .courses{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;

}
#crs{
    color: #1A2948;
    font-size: 35px;
    font-weight: 600;
}
main .courses .coursess{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
main .courses .coursess .course{
    display: flex;
    flex-direction: column;
    width: 22%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}
main .courses .coursess .course .courseimg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .courses .coursess .course .courseimg img{
    width: 100%;
}

main .courses .coursess .course .courseinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .courses .coursess .course .courseinfo p{
    margin: 0;
    margin-top: 2em;
}
main .courses .coursess .course .courseinfo button{
    margin-top: 1.5em;
    background-color: #1A2948;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    border-radius: 10px;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-bottom: 1em;
}
#titleclass{
    color: #1A2948;
    font-size: 20px;
    font-weight: 600;
}
#titleclassinfo{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
footer{
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .footerinfosq{
    background-color: #1A2948;
    width: 89%;
    border-radius: 15px;
    margin-bottom: 2em;
    display: flex;
}

footer .footerinfosq .footerimg{
    width: 50%;
    height: 100%;
    background-image: url(images/picture\ \(3\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px ;
}
footer .footerinfosq .footerinfo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-bottom: 2em;
}
footer .footerinfosq .footerinfo .head{
    color: white;
    padding-left: 4em;
}
#ctsc{
    font-size: 2.5em;
    font-weight: 600;
}
#infossa{
    font-weight: 200;
}

footer .footerinfosq .footerinfo .main{
    display: flex;
    flex-direction: column;
    padding-left: 4em;
}
footer .footerinfosq .footerinfo .main .item{
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;
    font-weight: 200;
}

footer .footerinfosq .footerinfo .footer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2em;
}
footer .footerinfosq .footerinfo .footer img{
    cursor: pointer;
}