body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.container{
    height: 70%;
    border-radius: 20px;
    width:50%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    gap: 10px;
    justify-content: center;
    align-content: center;
}
.element{
    background-color: blueviolet;
    border-radius: 20px;
}
.element.one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: red;
}
