body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}
.container{
    height: 70%;
    border-radius: 20px;
    width:50%;
    background-color: aqua;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30%;
    gap: 10px;
    justify-content: center;
    align-content: center; 

}
.number{
    background-color: red;
    border-radius: 20px;

}
.number.four{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    transition: all 1s ease-in-out; 
}
.number.four:hover{
    background-color: green;
    transform: rotateZ(360deg);
}