body{
    width: 100vw;
    margin: 0;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    background-color: #0096C8;
    padding-left: 2em;
    padding-right: 2em;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 6em;
}
nav a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15px;
}
header button{
    background-color: white;
    color: #0096C8;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 0.8em;
    border: 0px;
    border-radius: 10px;
}
header .title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .title h1{
    font-family: 'Poppins';
    font-size: 15px;
    color: white;
    margin-left: 5px;
    font-weight: 700;
}
