html{
    font-size: 16px;
    font-family: 'Poppins';
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
header{
    display: flex;
    height: 8%;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0096C8;
    color: white;
}
header a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    margin-left: 4em;
}
header button{
    background: white;
    color: #0096C8;
    font-family: 'Poppins';
    font-weight: 600;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
}